/*-------------------------
	Simple reset
--------------------------*/


*{
    margin:0;
    padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
    background:  #383839;
    background-attachment:fixed;
}

body{
    color:#ffffff;
    font:14px/1.3 'Segoe UI Light',Arial, sans-serif;
    min-height: inherit;
    padding-top:10px;
    background-color:  #383839;
}

section{
    display:block;
}

a, a:visited {
    text-decoration:none;
    outline:none;
    color:#54a6de;
}

a:hover{
    text-decoration:underline;
}




/*----------------------------
		Headers
-----------------------------*/


header{
    display: block;
    margin-bottom: 12px;
}

h1{
    font-size:35px;
    font-weight:normal;

    line-height:1;
    text-shadow:2px 2px 0 rgba(22,22,22,0.5);
    font-family: "Comic Sans MS", cursive, sans-serif;

}

h2{
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
    padding: 15px 104px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}


/*----------------------------
		Content Area
-----------------------------*/


#infoPage img{
    float:left;
    margin-left:-200px;

    -moz-box-shadow: 2px 2px 0 #303030;
    -webkit-box-shadow: 2px 2px 0 #303030;
    box-shadow: 2px 2px 0 #303030;
}

#infoPage{
    width:455px;
    margin:20px auto 0;
    padding: 0 0 100px 20px;
    border-bottom:1px solid #333;
}

p.description{
    background-color: rgba(255, 255, 255, 0.05);
    padding: 25px;
    text-shadow: 1px 1px 0 #333333;
    margin-bottom: 35px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    -webkit-box-shadow: 2px 2px 0 rgba(22, 22, 22, 0.1);
    -moz-box-shadow: 2px 2px 0 rgba(22, 22, 22, 0.1);
    box-shadow: 2px 2px 0 rgba(22, 22, 22, 0.1);
}

a.grayButton{
    padding:6px 12px 6px 30px;
    position:relative;

    background-color:#fcfcfc;
    background:-moz-linear-gradient(left top -90deg, #fff, #ccc);
    background:-webkit-linear-gradient(left top -90deg, #fff, #ccc);
    background:linear-gradient(left top -90deg, #fff, #ccc);

    -moz-box-shadow: 1px 1px 1px #333;
    -webkit-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333;

    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;

    font-size:11px;
    font-style: italic;

    color:#000000;
    text-shadow:1px 1px 0 #fff;
    display:inline-block;
    margin-right:10px;

    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    transition:0.25s;
}

a.grayButton:hover{
    text-decoration:none !important;
    box-shadow:0 0 5px #2b99ff;
    background-color: #9acfea;
}

a.grayButton:before{
    background:url('../img/icons.png') no-repeat;
    height: 18px;
    left: 4px;
    position: absolute;
    top: 6px;
    width: 20px;
    content: '';
}




/*----------------------------
		Links Area
-----------------------------*/


#links{
    text-align:center;
    padding-top: 20px;
    border-top:1px solid #4a4a4a;
    text-shadow: 1px 1px 0 #333333;
    width:655px;
    margin:0 auto;
}

#links a{
    color: #ccc;
    position:relative;
}

#links > a{
    display: inline-block;
    font-size: 11px;
    margin: 0 10px;
    padding-left:15px;
}

#links > a:before{
    background: url("../img/icons.png") no-repeat -10px -60px;
    position:absolute;
    content:'';
    width:16px;
    height:16px;
    top:2px;
    left:-4px;
}

#links > a.vcard:before{
    background-position: -10px -40px;
    top: 0;
    left: -8px;
}


#links p{
    color: #888888;
    font-size: 10px;
    font-style: normal;
    padding: 30px;
}


/*----------------------------
	The Footer
-----------------------------*/


footer{
    display:block;
    background-color:#212121;
    box-shadow: 0 -1px 2px #111;
    position:fixed;
    width:100%;
    height:70px;
    bottom:0;
    left:0;
    z-index: 100000;
}

footer h2{
    font-size:20px;
    font-weight:normal;
    left:38%;

    padding:7px 0;
    position:absolute;
    width:400px;
    color:#eee;
}


.btn-group{margin-left: 26%;}

.btn-primary{background-color: rgba(255, 255, 255, 0.05);

    text-shadow: 1px 1px 0 #333333;
    margin-bottom: 35px;

    -webkit-box-shadow: 2px 2px 0 rgba(22, 22, 22, 0.1);
    -moz-box-shadow: 2px 2px 0 rgba(22, 22, 22, 0.1);
    box-shadow: 2px 2px 0 rgba(22, 22, 22, 0.1);
border: none;
font-family: "Comic Sans MS", cursive, sans-serif}
.social{margin-left: 15%;}